<!-- ecommerce/templates/dashboard/category_list.html -->
{% extends './base.html' %}

<!-- Block for title -->
{% block title %}  
	Admin Category List
{% endblock title %}
<!-- End Block for title -->

<!-- Block for custom css -->
{% block custom_css %}

{% endblock custom_css %}
<!-- End Block for custom css -->

<!-- Block for page title -->
{% block page_title %}
	Create Category
{% endblock page_title %}
<!-- End Block for page title -->

<!-- Block for page main content -->
{% block page_content %}
	
	<form method="POST", enctype="multipart/form-data">
		{{ form.as_p }}
		<button type="submit">Save Category</button>
	</form>

{% endblock page_content %}
<!-- End Block for page main content -->

<!-- Block for custom js -->
{% block custom_js %}

{% endblock custom_js %}
<!-- End Block for custom js -->