<!-- templates/templates/dashboard/home.html -->
{% extends './base.html' %}

<!-- Block for title -->
{% block title %}  
	Admin Home
{% endblock title %}
<!-- End Block for title -->

<!-- Block for custom css -->
{% block custom_css %}

{% endblock custom_css %}
<!-- End Block for custom css -->

<!-- Block for page title -->
{% block page_title %}
	Dashboard
{% endblock page_title %}
<!-- End Block for page title -->

<!-- Block for page main content -->
{% block page_content %}
	<p>Simple Dashboard Empty Page</p>
{% endblock page_content %}
<!-- End Block for page main content -->

<!-- Block for custom js -->
{% block custom_js %}

{% endblock custom_js %}
<!-- End Block for custom js -->